.dashboard {
    color: #f507edfc;
}

.list {
    font-size: 2em;
}

.btn-active button {
    background-color: rgb(92, 147, 211)!important;
}
.side-nav-height {
    height: 100%;
}
.side-nav-btns {
    margin: 3px;
    width: 97%;
}